<main class="p-5">
	<div class="container">
		<h1>Mon Compte</h1>
	</div>

	<div class="container-fluid">
		<div class="row py-4">
			<div class="col-lg-4 col-md-5">
				<h3>Mes informations</h3>
				<table class="table">
					<tbody>
						<tr>
							<th>Email</th>
							<td>{{ me?.email }}</td>
						</tr>
						<tr>
							<th>Prénom</th>
							<td>{{ me?.first_name }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ me?.last_name }}</td>
						</tr>
						<tr>
							<th>Type</th>
							<td>{{ me?.usertype.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-8 col-md-7">
				<h3>Mes commandes</h3>
				<table *ngIf="orders && orders?.length>0; else noOrders"
					class="table table-responsive">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Vente</th>
						<th scope="col">Statut</th>
						<th scope="col">Action</th>
						<th>Article</th>
					</tr>
					<ng-container *ngFor="let order of orders">
						<tr>
							<td>{{order.id}}</td>
							<td>{{ order.sale.name }}</td>
							<td [ngSwitch]="order.status">
								<span *ngSwitchCase="0" class="blue-text">En cours</span>
								<span *ngSwitchCase="1" class="purple-text">En attente de validation</span>
								<span *ngSwitchCase="2" class="green-text">Validée</span>
								<span *ngSwitchCase="3" class="orange-text">Non payée</span>
								<span *ngSwitchCase="4" class="green-text">Payée</span>
								<span *ngSwitchCase="5" class="red-text">Expirée</span>
								<span *ngSwitchCase="6" class="red-text">Annulée</span>
							</td>
							<td [ngSwitch]="order.status">
								<a *ngSwitchCase="0" class="text-primary" routerLink="/ventes/{{order.sale.id}}">
									Continuer la commande</a><br/>
								<a *ngSwitchCase="0" class="text-primary" routerLink="/ventes/{{order.sale.id}}">
									Annuler la commande</a><br/>
								<a *ngSwitchCase="1" class="text-primary">Valider la commande</a><br/>
								<a *ngSwitchCase="3" class="text-primary" routerLink="/ventes/{{order.sale.id}}">
									Payer</a><br/>
								<a *ngSwitchCase="4" class="text-primary" (click)="generatePDF(order)">
									Télécharger mes billets</a><br/>
								<a *ngSwitchCase="4" class="text-primary" routerLink="/commandes/{{order.id}}">
									Modifier ma commande</a><br/>
							</td>
							<!--<td>-->
								<!-- <a class="text-info" (click)="order-{{order.id}}-items.toggle()" mdbWavesEffect> -->
									 <!-- <i class="fa fa-chevron-down"></i> Montrer les items</a> -->
							<!--</td>-->
							<td>
								<tr>
									<th class="py-2">ID</th>
									<th class="py-2">Article</th>
									<th class="py-2">Quantité</th>
								</tr>
								<tr *ngFor="let orderline of order.orderlines">
									<td class="py-2">{{orderline.id}}</td>
									<td class="py-2">{{orderline.item.name}}</td>
									<td class="py-2">{{orderline.quantity}}</td>
								</tr>
							</td>
						</tr>
						<!-- <div [mdbCollapse]="isCollapsed" #test="bs-collapse"> -->

						<!-- </div> -->
					</ng-container>
				</table>

				<ng-template #noOrders>
					<p>Vous n'avez encore fait aucune commande.</p>
					<div class="text-center">
						<a routerLink="/ventes" class="mx-auto my-4 btn btn-primary waves-light" mdbWavesEffect>Voir les ventes</a>
					</div>
				</ng-template>
			</div>

		</div>
	</div>

</main>
		<!-- 
		<div class="panel-body">
			<ul class="nav nav-pills">
				<li class="active"><a (click)="infos=false">Mes achats</a></li>
				<li class=""><a (click)="infos=true">Mes informations</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade active in" id="achats">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Intitulé</th>
								<th>Date</th>
								<th>Prix</th>
								<th>Statut</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order in orders | orderBy: '-date':true ">
								<td>{{ order.id }}</td>
								<td>{{ order.attributes.date }}</td>
								<td>{{ order.attributes.price }} €</td>
								<td ng-bind="getStatus(order)">{{order.attributes.status}}</td>
								<td>
									<a type="button" *ngIf="order.attributes.status=='payed'" class="btn btn-primary" style="width: 12em;" (click)="generatePDF(order)">
										Télécharger ma place
									</a>
									<button type="button" *ngIf=="order.attributes.status=='not_payed'" 
										class="btn btn-success">Payer</button>
									<button type="button" *ngIf=="order.attributes.status=='awaiting_validation'" 
										class="btn btn-warning">Valider</button>
									<button type="button" *ngIf=="order.attributes.status=='validated'" 
										class="btn btn-success disabled">Validé</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="profile">
						<p><b>Nom :</b></p>
						<p><b>Prénom :</b></p>
					</div>
				</div>
			</div> 
			<div id="qrcode" style="display:none;"></div>                 

		 -->
