 <div class="row" > 

                    <div class="jumbotron" >
                        <h1>Connexion</h1>
                      </div>    
                   <div class="container" style="background-color: rgba(255, 255, 255, 0.7); margin-bottom: 2em; ">
                        <div class="panel-body">
                          <form accept-charset="UTF-8" role="form">
                              <fieldset>
                                <div class="form-group">
                                  <input class="form-control" placeholder="E-mail" name="email" type="text">
                                </div>
                                <div class="form-group">
                                  <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Se connecter" ng-required >
                                <a type="button" class="btn btn-lg btn-default btn-block" >Créer un compte</a>
                            </fieldset>
                          </form>
                        </div>
                    </div>

                
               <!-- </div>!-->                           
</div>                    
    
           
                
                 <!-- /. ROW  --> 