<main class="container p-5">

	<div *ngIf="loading; else orderReady">
		<div class="d-flex h-100 justify-content-center align-items-center three-balls-loader">
			<div class="ball ball-1"></div>
			<div class="ball ball-2"></div>
			<div class="ball ball-3"></div>
		</div>
	</div>

	<ng-template #orderReady>
		<div class="pb-3 mb-2">
			<h1 class="my-4">Votre commande n°{{ order.id }}</h1>
			<p class="my-0">Vente : {{ order.sale.name }}</p>
			<p class="my-0">Status : {{ order.status }}</p>
		</div>

		<div *ngFor="let orderline of order.orderlines" class="py-4">
			<h3>{{ orderline.id }} - {{ orderline.item.name }} (x{{ orderline.quantity }})</h3>
			<div *ngFor="let orderlineitem of orderline.orderlineitems" class="row py-4">
				<div class="col-12 d-none">{{ orderlineitem.id }}</div>

				<div *ngFor="let orderlinefield of orderlineitem.orderlinefields" class="md-form col-md-5">
						<span>{{ orderlinefield.name }}</span>
						<input mdbInputDirective type="{{ mapFieldType(orderlinefield.type) }}"
							class="form-control" [disabled]="!orderlinefield.editable"
							id="{{ orderlinefield.id }}" value="{{ orderlinefield.value }}">
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-success" [disabled]="hasEditableField(orderlineitem)"
							(click)="modifyOrderLineFields(orderlineitem)">Modifier</button>
				</div>
			</div>
		</div>
	</ng-template>
</main>