<main class="p-5">
	<div class="container">
		<h1 class="mb-5 text-center">Espace de connexion</h1>
	</div>
	
	<div *ngIf="!loading; else loader" class="d-flex align-items-center justify-content-center">
		<a href="{{ loginUrl }}" class="btn btn-primary waves-light" mdbWavesEffect (click)="loading = true">Se connecter</a>
	</div>
	
	<ng-template #loader>
		<div class="f-center flex-column">
			<p class="mb-5 text-center lead">Connexion en cours...</p>
			<div class="three-balls-loader">
				<span class="ball ball-1"></span>
				<span class="ball ball-2"></span>
				<span class="ball ball-3"></span>
			</div>
		</div>
	</ng-template>
</main>