<main class="container py-5 px-3 px-md-5">
	<!-- <pre class="pre-scrollable">{{ cart | json}}</pre> -->

	<div *ngIf="loading; else saleReady">
		<div class="d-flex h-100 justify-content-center align-items-center three-balls-loader">
			<div class="ball ball-1"></div>
			<div class="ball ball-2"></div>
			<div class="ball ball-3"></div>
		</div>
	</div>

	<ng-template #saleReady>
		<!--<a class="float-left" routerLink="/ventes">Retour aux ventes</a>-->
		<div class="text-center pb-3 mb-2">
			<h1 class="display-4">{{ sale.name }}</h1>
			<h5 *ngIf="sale.association" class="text-gray-dark">Organisé par {{ sale.association.name }}</h5>
		</div>

		<div class="row py-4 my-4">
			<div class="col-md-6 my-2">
				<p class="lead">Description</p>
				<p class="m-0">{{ sale.description }}</p>
			</div>
			<div class="col-sm-6 col-md-3 my-2">
				<p class="lead">Dates</p>
				<p class="m-0">Ouverture&nbsp;: {{ sale.begin_at | date:'dd/MM/yyyy' }}</p>
				<p class="m-0">Fermeture&nbsp;: {{ sale.end_at | date:'dd/MM/yyyy' }}</p>
			</div>
			<div *ngIf="sale.max_item_quantity" class="col-sm-6 col-md-3 my-2">
				<p class="lead">Quantités</p>
				<p class="m-0">{{ sale.max_item_quantity }}</p>
			</div>
		</div>

		<div *ngIf="hasOngoingOrder" class="row justify-content-center my-5">
			<div class="col-11 col-md-8 px-0 card z-depth-2">
				<div class="card-header lead orange white-text text-center">Attention</div>
				<div class="card-body">
					<p class="text-justify">
						Vous avez déjà une commande non payée en cours pour cette vente.
						Veuillez la traiter avant d'en commencer une nouvelle. 						
					</p>
					<div class="text-center">
						<a class="btn btn-outline-warning waves-light" mdbWavesEffect (click)="cancelOrder()">Annuler</a>
						<a class="btn btn-success waves-light" mdbWavesEffect (click)="payOrder()">Payer</a>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="sale.items.length>0; else noItem">
			<div class="d-flex flex-column flex-md-row justify-content-between mb-4">
				<h2 class="text-center">Items en ventes</h2>
				<div class="d-flex flex-column flex-sm-row">
					<button class="mx-4 btn btn-outline-warning waves-light" mdbWavesEffect (click)="initCart()">
						<i class="fa fa-trash mr-1"></i> Reset
					</button>
					<button class="mx-4 btn btn-success waves-light" 
							[class.disabled]="isCartEmpty() || !me || !cgvAccepted || hasOngoingOrder" mdbWavesEffect (click)="buy()">
						<i class="fa fa-shopping-cart mr-1"></i> Acheter
					</button>
				</div>
			</div>
			<p *ngIf="!me" class="lead text-center my-4 red-text">Veuillez vous connecter pour acheter.</p>
			<p *ngIf="!cgvAccepted" class="lead text-center my-4 red-text">Veuillez accepter les CGV pour acheter.</p>

			<label class="form-check-label text-center d-block my-4">
				<input class="form-check-input" type="checkbox" name="cgv-accepted" [(ngModel)]="cgvAccepted">
				J'accepte les <a href="http://assos.utc.fr/baignoirutc/ressources/reglement.pdf" target="_blank">conditions générales de ventes</a>.
			</label>

			<table class="table align-middle">
				<!--
				<tr>
					<th>Item</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
				-->
				<tr *ngFor="let item of sale.items" class="hoverable px-2 px-md-4" [hidden]="!item.is_active"
					[ngClass]="{'disabled grey-text': item.quantity_left === 0}">
					<td class="align-middle lead">{{ item.name }}</td>
					<td class="align-middle">{{ item.price | currency:'€':'symbol':'1.2':'fr' }}</td>
					<td class="align-middle">
						<div class="md-form my-0">
							<input mdbInputDirective type="number" class="form-control my-0" [class.disabled]="!me || hasOngoingOrder"
								data-error="wrong" data-success="valid" [(ngModel)]="cart[item.id].quantity"
								min="0" max="{{ item.max_per_user }}" value="0" style="width: 50px;">
						</div>
					</td>
				</tr>
			</table>
		</div>

		<ng-template #noItem>
			<p class="lead">Aucun item n'a été mis en vente pour le moment, revenez plus tard.</p>
		</ng-template>

		<!--<pre class="pre-scrollable mt-5">{{ sale | json }}</pre>-->
	</ng-template>
</main>