<main class="container p-5">
	<!-- <pre class="pre-scrollable">{{ cart | json}}</pre> -->

	<div *ngIf="loading; else saleReady">
		<div class="d-flex h-100 justify-content-center align-items-center three-balls-loader">
			<div class="ball ball-1"></div>
			<div class="ball ball-2"></div>
			<div class="ball ball-3"></div>
		</div>
	</div>

	<ng-template #saleReady>
		<!--<a class="float-left" routerLink="/ventes">Retour aux ventes</a>-->
		<div class="text-center pb-3 mb-2">
			<h1 class="display-4">{{ sale.name }}</h1>
			<h5 *ngIf="sale.association" class="text-gray-dark">Organisé par {{ sale.association.name }}</h5>
		</div>

		<div class="row py-4 my-4">
			<div class="col-md-6 my-2">
				<p class="lead">Description</p>
				<p class="m-0">{{ sale.description }}</p>
			</div>
			<div class="col-md-3 my-2">
				<p class="lead">Dates</p>
				<p class="m-0">Ouverture&nbsp;: {{ sale.begin_at | date:'dd/MM/yyyy' }}</p>
				<p class="m-0">Fermeture&nbsp;: {{ sale.end_at | date:'dd/MM/yyyy' }}</p>
			</div>
			<div class="col-md-3 my-2">
				<p class="lead">Quantités</p>
				<p class="m-0">{{ sale.max_item_quantity }}</p>
			</div>
		</div>

		<div *ngIf="sale.items; else noItem">
			<div class="row mb-4">
				<h2 class="col-md-8">Items en ventes</h2>
				<div class="col-md-4">
					<button class="mx-4 btn btn-primary waves-light" mdbWavesEffect (click)="buy()">
						<i class="fa fa-shopping-cart mr-1"></i> Acheter
					</button>
				</div>
			</div>
			<table class="table align-middle">
				<!--
				<tr>
					<th>Item</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
				-->
				<tr *ngFor="let item of sale.items" class="hoverable">
					<td class="align-middle lead">{{ item.name }}</td>
					<td class="align-middle">{{ item.price | currency:'€':'symbol':'1.2':'fr' }}</td>
					<td class="align-middle">
						<div class="md-form my-0">
							<input mdbInputDirective type="number" class="form-control my-0"
								data-error="wrong" data-success="valid" [(ngModel)]="cart[item.id].quantity"
								min="0" max="{{ item.max_per_user }}" value="0">
						</div>
					</td>
						
				</tr>
			</table>
		</div>

		<ng-template #noItem>
			<p class="lead">Aucun item n'a été mis en vente pour le moment, revenez plus tard.</p>
		</ng-template>

		<!--<pre class="pre-scrollable mt-5">{{ sale | json }}</pre>-->
	</ng-template>
</main>