 <div class="row"> 

                    <div class="jumbotron">
                        <h1>Bienvenue sur Woolly</h1>
                        <p>Billetterie des associations de l'UTC.</p>
                      </div>    
                    
                      
                   <!--<div  ng-controller="MyController">       !-->     
                    <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="sale in next_sales" ng-cloak>                       
                        <div class="panel panel-primary text-center no-boder bg-color-woolly">
                           <div class="panel-body">
                                <i class="fa fa-check-square  fa-5x"></i>
                                <h1>{{sale.attributes.name}}</h1>
                                <hr>
                                 <p>{{sale.attributes.description}}</p>
                                <p>Organisé par : <b>{{sale.attributes.association}}</b></p>
                                <p>Début des ventes le : {{sale.attributes.begin_date | date: 'dd - MM - yyyy HH:mm:ss'}}</p>
                                <!--{{sale.relationships.items.links.related}}!-->
                                    <div  ng-show="sale.__showMore && sale.__items.attributes.remaining_quantity>0"  style="text-align:left;" ><hr>
                                        <h3><span ng-bind="sale.__items.attributes.name"></span> :   </h3> 
                                        <form name="formPlace" novalidate>
                                          <div ng-repeat="item2 in sale.__itemspecification">
                                                
                                                <p> Prix : <span ng-bind="item2.attributes.price"></span> €</p>
                                                Nombre de place : 
                                                <input  type="number" max="10" min="0" value="1" ng-model="item2.nbPlace"/> 
                                                </div> 

                                         </form>                                    
                                    </div>
                            </div>

                            <div ng-show="sale.__showMore" class="panel-footer bg-color-woolly2">
                                            <button ng-show="sale.__items.attributes.remaining_quantity>0" type="button" class="btn btn-success btn-lg" data-toggle="modal" ng-click="showDialog(sale.__itemspecification)" data-target="#myModal" >Payer</button>
                                            <button ng-show="sale.__items.attributes.remaining_quantity==0" type="button" class="btn btn-danger btn-lg" disabled >Complet</button>
                            </div>
                            <div ng-show="!sale.__showMore" class="panel-footer bg-color-woolly2">
                                   <input type="button" value="Voir la vente" ng-click="loadItemSpecification(sale)" />
                                    
                            </div>
                        </div>
                    </div>
                      <!--href="{{sale.relationships.items.links.related}}" !-->
                
                          <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Finalisation de votre achat</h4>
                          </div>
                          <div class="modal-body">
                            <p>Vous souhaitez acheter <b ng-bind="nbPlace">0</b> place(s).<br>Veuillez choisir votre moyen de paiement : </p>
                          </div>
                          <div class="modal-footer" style="text-align: center;">
                            <!--<button type="button" class="btn btn-success" ng-href="https://payutc.nemopay.net" >PayUTC</button>!-->
                            <a type="button" class="btn btn-success" ng-click="createTransaction(nbPlace)">PayUTC</a>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                          </div>
                        </div>

                      </div>
                    </div> 
               <!-- </div>!-->                           
</div>                    
    
           
                
                 <!-- /. ROW  --> 