 <div class="row"> 

                             
                               
                    <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="sale in sales">                       
                        <div class="panel panel-primary text-center no-boder bg-color-woolly">
                            <div class="panel-body">
                                <i class="fa fa-check-square  fa-5x"></i>
                                <h1>{{sale.attributes.name}}</h1>
                                <p>{{sale.attributes.description}}</p>
                                <p>Organisé par :{{sale.attributes.association}}</p>
                                <p>Début des ventes le : {{sale.attributes.begin_date}}
                            </div>
                            <div class="panel-footer bg-color-woolly2">
                               <a href="{{sale.relationships.items.links.related}}" > Accéder à la vente</a>
                                
                            </div>
                        </div>
                    </div>
                     
</div>
                        
                        
                           
                
           
                
                 <!-- /. ROW  --> 