<main class="p-5">
	<div class="container">
		<h1 class="mb-5 animated fadeIn">Liste des ventes</h1>
	</div>
	<div *ngIf="loading; else salesReady">
		<div class="d-flex h-100 justify-content-center align-items-center three-balls-loader">
			<div class="ball ball-1"></div>
			<div class="ball ball-2"></div>
			<div class="ball ball-3"></div>
		</div>
	</div>

	<ng-template #salesReady>
		<div *ngIf="sales.length==0" class="animated slideInUp">
			<p class="lead text-center">Aucune vente n'est disponible pour le moment, revenez plus tard !</p>
		</div>

		<div class="row mb-4 justify-content-center">
			<div *ngFor="let sale of sales" class="py-3 col-xl-3 col-md-4 col-sm-12 animated fadeInRight">
				<div class="card card-image view hm-white-slight waves-light" mdbRippleRadius
					style="background-image: url('./assets/sdf.jpg'); background-size: cover;">
					<div class="card-body text-white rgba-black-strong d-flex align-items-center py-5 px-4">
						<div>
							<h3 class="card-title"><strong>{{ sale.name }}</strong></h3>
							<h5 class="font-italic">Organisé par {{ sale.association.name }}</h5>
							<hr>
							<p>{{ sale.description }}</p>
							<a class="btn btn-blue waves-light" mdbRippleRadius routerLink="/ventes/{{ sale.id }}">
								<i class="fa fa-hand-o-right" aria-hidden=true></i> Accéder à la vente
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</main>